@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}

.bar-icon{
    display: none;
}
/* @media(max-width:991px) {
    .search, .center-h
   {
    padding:2rem;
  }
  .search-bar, .center-v{
      padding: 2rem;
  }

  } */

 @media (max-width: 550px){
    .flex-50 .wd-50{
        width: 100%;
    }
    .wd-50 .hg{
        width: 100%;
    }
 }